@{
    ViewData["Title"] = "Student Portal";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Student Portal Management</h1>
    <p>
        Manage student records efficiently and effortlessly. Explore features like adding, updating, and tracking student details for a seamless experience.
    </p>
</div>

<style>
    body{
        background-color: black;
    }
    .text-center {
        margin-top: 50px;
        font-family: Arial, sans-serif;
    }

    .display-4 {
        color: #007bff;
        font-weight: bold;
    }

    p {
        color: #57b1ff;
        font-size: 1.2rem;
    }
</style>
